---
import date from "../utils/date";
import GridCards from "../layouts/gridCards.astro";
import ToggleThemeButton from "../components/ToogleThemeButton.jsx";
---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body class="bg-dot-bglight dark:bg-dot-bgdark pt-16 pb-7">
    <main class="mx-auto max-w-3xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-xl font-semibold leading-8 text-dot-light_primary dark:text-dot-dark_primary">
          {date}
        </h2>
        <p
          class="mt-2 text-3xl font-bold tracking-tight text-dot-light_secondary dark:text-dot-dark_secondary sm:text-4xl"
        >
          Hello, Welcome back!!
        </p>
        
      </div>
        <GridCards />
        <ToggleThemeButton client:load/>
    </main>
  </body>
</html>
